/*应用于DataList的样式*/
.DataListStyle
{
	font-family:"宋体";
	font-size:12px;
	color:#1d6178;
}

/*应用于交替行的样式*/
.AlternatingItemStyle
{
	
}

/*应用于编辑模式的样式*/
.EditItemStyle
{
	
}

/*应用于脚注的样式*/
.FooterStyle
{
	
}

/*应用于标题行的样式*/
.HeaderStyle
{
	
}

/*应用于项的样式*/
.ItemStyle
{
	
}

/*应用于选定项的样式*/
.SelectItemStyle
{
	
}

/*应用于分隔符项的样式*/
.SeparatorStyle
{
	
}