/*标题*/
.divTitles
{
	background-color:#2386c3;
	width: 994px;
	height:17px;
	padding-top:5px;
	font-family:宋体;
	font-size:14px;
	text-align:center;
	color:White;
	font-weight:bold;
}

.GridViewStyle
{
	padding-top:10px;
}
